body {
    font-family: Arial, sans-serif;
    background-color: #e8e8e8;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.welcome {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}

.create-box {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 14px;
    background: #2427bb;
    color: white;
    border: none;
    border-radius: 4px;
}

button:hover {
    background: #45a049;
}

.links {
    margin-top: 12px;
}

.links a {
    display: block;
    color: #007BFF;
    margin-top: 5px;
    text-decoration: none;
}
